@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5%;
  font-family: 'Roboto';
  color: #b4b4b0;
}
.nav-org {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo {
  width: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #b4b4b0;
  font-size: 20px;
}
.shop-icons {
  display: flex;
  gap: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #b4b4b0;
}

/* home area */
.home-img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}
.home-area {
  position: relative;
}
.home-info {
  position: absolute;
  top: 40%;
  padding-left: 5%;
}

.home-info h2 {
  font-size: 58px;
  font-family: 'Roboto';
  font-weight: 100;
  width: 70%;
  color: #e3e7a5;
  margin-bottom: 10px;
}

.home-info p {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
  width: 40%;
  margin-bottom: 10px;
}

.home-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5%;
  font-family: 'Poppins';
  font-size: 12px;
}

.home-link a {
  text-decoration: none;
  color: #ffffff;
}

.shop-now {
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 10px 15px;
}

.shipping {
  border: none;
  background: rgb(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 5px 10px;
}
.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  font-family: 'Poppins';
  color: #e3e7a5;
  background: #3e4537;
  margin-bottom: 70px;
}

.scrolling-text {
  display: inline-block;
  margin-right: 1rem;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.item {
  display: flex;
  position: relative;
  width: 90%;
  margin-bottom: 50px;
}
.item-desc {
  padding: 10% 5%;
  background: #e3e7a5;
  width: 60%;
}
.item-desc h1 {
  font-size: 38px;
  font-family: 'Poppins';
  color: #536230;
}

.item-desc h2 {
  font-size: 24px;
  font-family: 'Poppins';
  color: #536230;
  margin-bottom: 40px;
}
.item-desc h3 {
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
}
.item-desc p {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
  width: 70%;
  margin-bottom: 20px;
}

.f-img {
  position: absolute;
  width: 450px;
  top: 40px;
  right: 80px;
  height: 500px;
  object-fit: cover;
}

.item-desc a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  background: #3e4537;
}
.item-two {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 0% 5%;
  margin-bottom: 50px;
}

.item-desc-two h1 {
  font-size: 38px;
  font-family: 'Poppins';
  color: #536230;
}
.item-desc-two h2 {
  font-size: 24px;
  font-family: 'Poppins';
  color: #536230;
  margin-bottom: 40px;
}
.item-desc-two h3 {
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
}
.item-desc-two p {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
  /* width: 70%; */
  margin-bottom: 20px;
}
.coconut {
  display: block;
  width: 600px;
  height: 600px;
  object-fit: cover;
}
.item-desc-two a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  background: #3e4537;
}

.item-three {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.item-three h1 {
  font-size: 38px;
  font-family: 'Poppins';
  color: #536230;
}

.item-three h2 {
  font-size: 24px;
  font-family: 'Poppins';
  color: #536230;
  margin-bottom: 40px;
}
.item-three h3 {
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
}
.item-three p {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
  margin-bottom: 20px;
}

.products-container {
  position: relative;
  padding: 0 5%;
  width: 100%;
  margin-bottom: 100px;
}
.products-area {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}

.product {
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid white;
}

.products-area::-webkit-scrollbar {
  overflow: hidden;
}
.arrow-icon {
  background: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#left-icon {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 50px;
  /* bottom: 0; */
}
#right-icon {
  position: absolute;
  z-index: 1;
  top: 150px;
  right: 50px;
}

.product-details h4 {
  color: #b4b4b0;
  font-family: 'Poppins';
  font-weight: 100;
  font-size: 14px;
}
.product-details p {
  color: #b4b4b0;
  font-family: 'Poppins';
  font-weight: 100;
  font-size: 14px;
}
.item-desc-four {
  position: relative;
}

.item-four {
  padding: 5%;
  background: #f0f9fd;
}

.item-four h1 {
  font-size: 38px;
  font-family: 'Poppins';
  color: #536230;
}

.item-four h2 {
  font-size: 24px;
  font-family: 'Poppins';
  color: #536230;
  margin-bottom: 40px;
}
.info {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
  margin-bottom: 20px;
  width: 35%;
}
.person {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
}

.dots {
  color: #536230;
  font-size: 32px;
}
.person-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: absolute;
  right: 80px;
  top: -20px;
}

.explore-container {
  display: grid;
  place-items: center;
  background: #d2e984;
  padding: 8%;
  text-align: center;
}

.explore-container h2 {
  font-size: 52px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #536230;
  margin-bottom: 20px;
}

.explore-container p {
  font-size: 20px;
  font-family: 'Roboto';
  color: #536230;
  margin-bottom: 20px;
}

.explore-links {
  display: flex;
  gap: 20px;
}

.get-started a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  background: #3e4537;
}

.contact a {
  font-size: 16px;
  text-decoration: none;
  color: #3e4537;
  font-family: 'Roboto';
  border: 1px solid #3e4537;
  border-radius: 50px;
  padding: 10px 15px;
}

.footer-container {
  padding: 4% 5%;
}
.footer-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-links li {
  color: #3e4537;
  font-family: 'Roboto';
  list-style: none;
}
.footer-links a {
  text-decoration: none;
  color: #000000;
  font-family: 'Poppins';
}
.org-name {
  font-family: 'Roboto';
}
.line {
  border: 1px solid #b4b4b0;
  opacity: 0.5;
  margin-top: 70px;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-family: 'Roboto';
  color: #b4b4b0;
  font-size: 18px;
}
.fa-brands {
  color: #b4b4b0;
  font-size: 18px;
  cursor: pointer;
  background: #dbdbd5;
  padding: 10px;
  border-radius: 50px;
}
/* mobile section */
.mobile-bar {
  display: none;
}
.mobile-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #ffffff;
  transition: all 0.3s ease;
  transform: translateX(100%);
  z-index: 1;
  visibility: visible;
}
.show-mobile-overlay {
  transform: translateX(0);
  visibility: visible;
}
.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px;
}
.mobile-logo {
  width: 40px;
}
#mobile-links {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Poppins';
  padding-left: 52px;
  margin-bottom: 103px;
}

#mobile-links a {
  text-decoration: none;
  color: #b4b4b0;
}
.mobile-shop-icons {
  display: flex;
  gap: 10px;
  font-family: 'Roboto';
  color: #b4b4b0;
  font-size: 24px;
  padding-left: 52px;
  cursor: pointer;
}
.close-bar {
  font-size: 25px;
  cursor: pointer;
}
.mobile-overlay {
  width: 90%;
  display: none;
}

@media screen and (max-width: 996px) and (min-width: 780px) {
  .nav-links,
  .shop-icons {
    display: none;
  }
  .mobile-bar {
    display: block;
    font-size: 20px;
  }
  .mobile-overlay {
    display: block;
  }
  .navbar {
    padding: 4% 52px;
  }
  .logo {
    width: 30px;
  }
  .home-img {
    height: auto;
  }
  .home-info {
    top: 50%;
  }
  .home-info h2 {
    font-size: 32px;
    width: 70%;
  }
  .home-info p {
    font-size: 16px;
    width: 50%;
  }
  .item {
    width: 100%;
  }
  .item-desc {
    width: 60%;
  }
  .item-desc h1 {
    font-size: 32px;
  }

  .item-desc h2 {
    font-size: 20px;
  }
  .item-desc h3 {
    font-size: 32px;
    font-weight: 600;
  }
  .item-desc p {
    font-size: 20px;
    width: 90%;
  }
  .f-img {
    width: 300px;
    top: 20px;
    right: 70px;
    height: 400px;
  }
  .item-two {
    gap: 20px;
  }
  .item-desc-two h1 {
    font-size: 28px;
  }

  .item-desc-two h2 {
    font-size: 20px;
  }
  .item-desc-two h3 {
    font-size: 32px;
    font-weight: 600;
  }
  .item-desc-two p {
    font-size: 20px;
    width: 100%;
  }
  .coconut {
    width: 350px;
    height: 400px;
  }
}
@media screen and (max-width: 780px) {
  .nav-links,
  .shop-icons {
    display: none;
  }
  .mobile-bar {
    display: block;
    font-size: 20px;
  }
  .mobile-overlay {
    display: block;
  }
  .navbar {
    padding: 4% 52px;
  }
  .logo {
    width: 30px;
  }
  .home-img {
    height: 70vh;
  }
  .home-info {
    top: 60%;
  }
  .home-info h2 {
    font-size: 32px;
    width: 80%;
  }
  .home-info p {
    font-size: 16px;
    width: 50%;
  }
  .item {
    width: 100%;
  }
  .item-desc {
    width: 60%;
  }
  .item-desc h1 {
    font-size: 28px;
  }

  .item-desc h2 {
    font-size: 16px;
  }
  .item-desc h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .item-desc p {
    font-size: 16px;
    width: 90%;
  }
  .item-desc a {
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
  }
  .f-img {
    width: 250px;
    top: 20px;
    right: 60px;
    height: 360px;
  }
  .item-two {
    gap: 20px;
  }
  .item-desc-two h1 {
    font-size: 28px;
  }

  .item-desc-two h2 {
    font-size: 16px;
  }
  .item-desc-two h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .item-desc-two p {
    font-size: 16px;
    width: 100%;
  }
  .item-desc-two a {
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
  }
  .coconut {
    width: 300px;
    height: 400px;
  }
  .item-three h1 {
    font-size: 28px;
  }

  .item-three h2 {
    font-size: 16px;
  }
  .item-three h3 {
    font-size: 28px;
    font-weight: 600;
  }
  .item-three p {
    font-size: 16px;
    width: 90%;
  }
  .item-three a {
    text-decoration: none;
    font-size: 12px;
    padding: 5px 10px;
  }
  .product {
    width: 200px;
    height: 200px;
  }
  #left-icon {
    top: 100px;
  }
  #right-icon {
    top: 100px;
  }
  .product-details h4 {
    font-size: 12px;
  }
  .product-details p {
    font-size: 12px;
  }
  .item-four h1 {
    font-size: 28px;
  }

  .item-four h2 {
    font-size: 16px;
  }
  .info {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #536230;
    margin-bottom: 20px;
    width: 50%;
  }
  .person {
    font-size: 12px;
  }
  .person-image {
    width: 300px;
    height: 300px;
    right: 20px;
    top: -30px;
  }
  .explore-container {
    padding: 10%;
  }
  .explore-container h2 {
    font-size: 32px;
  }

  .explore-container p {
    font-size: 16px;
  }

  .explore-links {
    display: flex;
    gap: 10px;
  }

  .get-started a {
    font-size: 14px;
    padding: 5px 10px;
  }

  .contact a {
    font-size: 14px;
    padding: 5px 10px;
  }
  .footer-area {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 468px) {
  .navbar {
    padding: 4% 32px;
  }
  .home-img {
    height: 40vh;
  }
  .home-info {
    top: 50%;
  }
  .home-info h2 {
    font-size: 18px;
    margin: 0;
    width: 90%;
  }
  .home-info p {
    font-size: 12px;
    width: 80%;
  }
  .shop-now {
    font-size: 10px;
    width: 22%;
    padding: 4px 8px;
    white-space: nowrap;
  }
  .shipping {
    width: 75%;
  }
  .home-link {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .scrolling-text {
    font-size: 14px;
  }
  .item-desc {
    width: 100%;
  }
  .f-img,
  .coconut {
    display: none;
  }
  .item-two {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .product {
    width: 150px;
    height: 150px;
  }
  #left-icon {
    top: 100px;
    left: 0;
  }
  #right-icon {
    top: 100px;
    right: 0;
  }
  .product-details h4 {
    font-size: 12px;
  }
  .product-details p {
    font-size: 12px;
  }
  .person-image {
    display: none;
  }
  .info {
    width: 100%;
  }
  .explore-container h2 {
    font-size: 28px;
  }
  .explore-container p {
    font-size: 16px;
  }
  .get-started a,
  .contact a {
    font-size: 12px;
  }
  .footer-container {
    padding-top: 50px;
  }
  .footer-area {
    gap: 30px;
  }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer-links li a {
    font-size: 14px;
  }
  .fa-brands {
    font-size: 14px;
  }
}
